 .welcome{
    background-color: rgb(2, 2, 27);
  }

  .sign{
    background-color: rgb(2, 2, 27);
  }

  .sign:hover{
    background-color: rgb(2, 2, 27);
  }


  .up{
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    transition: all 300ms;
    border-color: rgb(2, 2, 27);
  }

  .form-control.up {
    border-color: black;
  }
  
  .form-control.up:focus {
    outline: none;
    box-shadow: none;
    border-color: black; 
  }



@media (max-width: 768px) {
    footer {
      text-align: center;
      padding: 1rem;
      background-color: #f8f9fa;
      position: relative;
      bottom: 0;
      width: 100%;
    }
  }
